.component__container--table {
  position: relative;
  background-color: #fff;
}

.table__container {
  transform: translate3d(0, 0, 0);
  transition: all 0.22s ease-in-out;
}

.table--scroll-x,
.table--sticky {
  width: 100%;
  overflow-x: scroll;
  overflow-y: scroll;
}

tr.table__header > th:last-child,
tr.table__header > th {
  position: -webkit-sticky;
  position: sticky;
  z-index: 2;
  top: 0;
}

.table--sticky-pagination {
  position: sticky;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  z-index: 2;
  bottom: 0;
}

.table-row:last-child {
  border: 0;
}

// .table-cell:last-child {
//   width: 50px;
//   padding: 0;
//   justify-self: flex-end;
// }

// .button--action-overflow {
//   padding: 0;
// }

th.table__header--sticky-column:first-child,
th.table__row--sticky-column:first-child {
  background-color: #fff;
  box-shadow: 0;

  @include medium {
    position: sticky;
    z-index: 3;
    left: 0;
    box-shadow: 1px 0 1px 0 rgba(0, 0, 0, 0.1);
  }

  @include large {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

th.table__row--sticky-column:first-child {
  z-index: 1;
}

th.table__header--sticky-column:first-child {
  background-color: #dcdcdc;
}

td.table-cell,
.button--action-overflow {
  background-color: #fff;
  white-space: nowrap;
}
