.app__container {
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar content";
  grid-template-columns: 48px 1fr;
  background-color: #f4f4f4;

  @include large {
    grid-template-columns: 256px 1fr;
  }
}

.content {
  grid-area: content;
  width: calc(100vw - 48px);

  @include large {
    max-width: calc(100vw - 256px);
  }
}
