.filter__container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr auto;
  min-height: 100%;
  background-color: #fff;
}

.side-filter {
  position: absolute;
  display: grid;
  z-index: 1;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  overflow-x: hidden;
  background-color: #fff;
  border-left: 1px solid #dcdcdc;
}

.side-filter--is-open {
  width: 224px;
}

.table-filter--is-open {
  margin-right: 224px;
}

.multiselect__container {
  padding: 16px;
}

.multiselect {
  border-top: 0;
}
