.component__container--side-filter {
  visibility: hidden;
  position: absolute;
  top: 0;
  height: 100%;
  overflow-y: scroll;
  transition: visibility 0.2s 0.2s ease-in-out;
}

.component__container--side-filter.side-filter--is-open {
  visibility: visible;
  transition: visibility 0s 0s;
}

.side-filter--from-right {
  right: 0;
}

.side-filter--from-left {
  left: 0;
}

.side-filter--is-open {
  transform: translateY(0);
  transition: transform 0.1s;
}

.side-filter__container {
  display: grid;
  position: relative;
  grid-template-rows: 1fr 200px 1fr;
  width: 224px;
  height: 100%;
  transition: transform 0.2s;
}

.side-filter--from-right .side-filter__container {
  right: 0;
  transform: translate3d(100%, 0, 0);
}

.side-filter--from-left .side-filter__container {
  left: 0;
  transform: translate3d(-100%, 0, 0);
}

.side-filter--is-open .side-filter__container {
  transform: translate3d(0, 0, 0);
  transition-delay: 0s;
}

.table-filter--is-open {
  margin-right: 224px;
  border-right: 1px solid #dcdcdc;
}

.multiselect__container {
  padding: 0 16px;
  padding-bottom: 0;
}

.side-filter__heading-container {
  display: flex;
<<<<<<< HEAD
  position: sticky;
  z-index: 3;
  top: 0;
=======
>>>>>>> parent of c077476... started sitting a height on the sidefilter container
  justify-content: space-between;
  height: 24px;
  padding: 16px;
  padding-bottom: 0;
}

.side-filter__button--close {
  height: 24px;
  border: 0;
  background-color: #fff;
  cursor: pointer;
}

.button__container--filter-actions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: end;
  width: 100%;
}
