.component__container--page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $spacing-07 0;
}

.page-header {
  @include carbon--type-style("productive-heading-05");
}
