// Breakpoints
$small-width: 320px;
$medium-width: 672px;
$large-width: 1056px;
$xlarge-width: 1312px;
$max-width: 1584px;

$small-height: 320px;
$medium-height: 672px;
$large-height: 1056px;
$xlarge-height: 1312px;
$max-height: 1584px;
