.component__container--table-toolbar {
  display: grid;
  margin: 0;

  @include medium {
    grid-template-columns: 1fr auto;
  }
}

.component__container--toolbar-search {
  display: grid;
  grid-template-columns: auto 1fr;
  @include medium {
    grid-template-columns: auto minmax(200px, 1fr);
  }
}

.button__container--table-actions {
  justify-self: end;
}

.pills {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.pill__button {
  display: flex;
  align-content: center;
  border: 0;
  background-color: transparent;
  fill: #fff;
  cursor: pointer;
}
