.sidebar {
  display: none;
  grid-area: sidebar;
  height: 100vh;
  background-color: #171717;

  @include medium {
    display: block;
    width: 48px;
  }
  @include large {
    width: 256px;
  }
}
