.component__container--sidebar {
  grid-area: sidebar;
  grid-row: 1 / 4;
  height: 100%;
}

.sidebar {
  width: 48px;
  height: 100%;
  overflow: hidden;
  background-color: #171717;

  @include large {
    width: 256px;
  }
}
