.table-wrapper {
  position: relative;
}

.table--scroll-x,
.table--sticky {
  overflow-x: scroll;
}

.cell {
  white-space: nowrap;
}

// This is to fix a weird bug in FF to
// show a bottom border for the table th
.row__header {
  @include medium {
    transform: scale(0.9);
  }
}

.cell:last-child {
  width: 50px;
  padding: 0;
  justify-items: end;
}

th.sticky:first-child {
  @include medium {
    position: sticky;
    z-index: 2;
    left: 0;
  }
}
