.table__wrapper {
  position: relative;
}

.scrollable {
  overflow-x: scroll;
  overflow-y: auto;
}

.scrollable--sticky {
  overflow-x: scroll;
  overflow-y: auto;
}

.data-table th.sticky {
  position: sticky;
  z-index: 0;
  top: auto;
  left: 0;
  width: 200px;
  height: 50px;
  overflow-y: auto;

  @include large {
    width: auto;
  }
}

.table__header-row {
  position: sticky;
  z-index: 1;
  top: 0;
  left: 0;
  white-space: nowrap;
}

.sticky.cell {
  white-space: nowrap;
}

th.sticky.cell {
  outline: 1px solid #dcdcdc;
}

.table__row .cell {
  background-color: #fff;
}

.sticky.cell:last-child {
  padding: 0;
  justify-items: end;
  width: 50px;
}
